<a href="https://colab.research.google.com/github/HARITIKAPANDIT/NOTEBOOK/blob/master/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**LISTS IN PYTHON**

**CREATING THE LISTS**

In [1]:
#creating a list of numbers and printing it
list = [1,2,3]
print(list)

[1, 2, 3]

In [0]:
#creating list of mixed data and fetching it using index
list2 = [1,'one','two',2]
print(list2[2])

#**FUNCTIONS IN LISTS**

**CHECKING THE LENGTH OF LIST**

In [0]:
#printing the length of list using len() function
list2 = [1,'one','two',2]
print(len(list2))

**ADDING ELEMENT IN LIST**

In [0]:
#adding a single element to list using append() function
list2 = [1,'one','two',2]
list2.append(3)
print(len(list2))
print(list2)

In [0]:
#adding element in a list at a specific index using insert() function
list2 = [1,'one','two',2]
list2.insert(0,'lists')
print(list2)

**ADDING LIST TO A LIST**

In [0]:
#adding a whole list to the existing list
list3 = ['three',4,'four']
list2.append(list3)
print(list2)

**USING EXTEND FUNCTION**

In [0]:
#adding multiple elements in the list using extend() function
list2 = [1,'one','two',2]
list2.extend([5,'five',6])
print(list2)

**MULTI DIMENSIONAL LIST**

In [0]:
#creating a multi dimensional list
list4 = [['one','two','three'],[1,2,3]]
#printing multi dimensional element
print(list4[0][1])
print(list4[1][0])
print(list4[0][2])

**NEGATIVE INDEXING**

In [0]:
#printing the list in reverse order
print(list2[::-1])

In [0]:
#NEGATIVE INDEXING
list = [1,2,3,4,5,6,7,8,9,10]
print(list[-1])
print(list[-2])

**REMOVING ELEMENTS FROM LIST**

In [0]:
#removing element from list using remove() method
list = [1,2,3,4,5]
list.remove(5)
print(list)

In [0]:
#using for loop for removing elements
list = [1,2,3,4,5,6,7,8,9,10]
for i in range(1,5):
    list.remove(i)
print(list)

In [0]:
#removing element from a specific position using pop() function
list = [1,2,3,4,5,6]
list.pop(2)    #removing element on 2nd index
print(list)

In [0]:
#printing a list 
list = ['GO','WASH','YOUR','HANDS','&','BE','SAFE']
print("WHOLE LIST :")
print(list)

**SLICING OF LISTS**

In [0]:
#applying slice operation on the same list
list = ['GO','WASH','YOUR','HANDS','&','BE','SAFE']
sliced_list = list[1:6]              #printing the elements in range
print(sliced_list)

In [0]:
#printing elements from a pre-defined point to end
list = ['GO','WASH','YOUR','HANDS','&','BE','SAFE']
sliced_list = list[1:]
print(sliced_list)

In [0]:
#printing the whole list from begining to the end 
list = ['GO','WASH','YOUR','HANDS','&','BE','SAFE']
sliced_list = list[:]
print(sliced_list)

In [0]:
#printing the list in reverse order
list2 = [1,'one','two',2]
print(list2)
print(list2[::-1])